.menuItem {
    border: 1px solid black;
    width: fit-content;
    padding: 2px 5px;
    min-width: 120px;
    text-align: center;
    height: fit-content;
    background: white;
}

.arrowDown {
    margin-left: 2px;
}

.submenuCont{
    position: absolute;
    width: inherit;
    display: none;
}
.arrowDown:after {
    content: '↓';
}

.arrowUp:after {
    content: '↑';
}

.visible {
    display: block;
}

a {
    color: black;
    text-decoration: none;
}

