.rating {
    /* border: 1px black solid; */
    width: 90%;
    min-width: fit-content;
    /*padding: 5px;*/
    display: flex;
    justify-content: center;
    /*justify-content: space-around;*/
    font-size: 30px;
    line-height: 40px;
}

.ratingInput {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    appearance: none;
    text-align: center;
    width: 40%;
    border: none;
    border-bottom: 1px solid #7C8179;
}

/* Chrome, Safari, Edge, Opera */
.ratingInput::-webkit-outer-spin-button,
.ratingInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.ratingInput[type=number] {
    -moz-appearance: textfield;
}

.ratingInput:focus {
    outline: none;
}

.ratingName {
    margin-right: 4%;
    font-size: inherit;
    line-height: inherit;
}

.invalid {
    border: 1px solid red;
    padding: 0;
}
