.rating {
    width: 90%;
    min-width: fit-content;
    display: flex;
    justify-content: center;
    font-size: 30px;
    line-height: 40px;
}

.ratingInput {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    appearance: none;
    text-align: center;
    width: 40%;
    border: none;
    border-bottom: 1px solid #7C8179;
}

.ratingInput::-webkit-outer-spin-button,
.ratingInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ratingInput[type=number] {
    -moz-appearance: textfield;
}

.ratingInput:focus {
    outline: none;
}

.ratingName {
    margin-right: 4%;
    font-size: inherit;
    line-height: inherit;
}

.invalid {
    border: 1px solid red;
    padding: 0;
}

@media (max-width: 650px) {
    .rating {
        justify-content: start;
        width: 100%;
    }

    .rating {
        justify-content: start;
        width: 100%;
    }

    .rating > .ratingInput{
        justify-content: start;

    }

    .invalid {
        border: none;
        border-bottom: 1px solid red;
    }
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait)
{
   .rating {
       justify-content: start;
       width: 100%;
   }

    .rating {
        justify-content: start;
        width: 100%;
    }

    .rating > .ratingInput{
        justify-content: start;

    }

    .invalid {
        border: none;
        border-bottom: 1px solid red;
    }
}

