table {
    margin: 50px 0;
    font-size: 25px;
    line-height: 25px;
    border-color: #a2a79f;
}

td {
    text-align: center;
    width: fit-content;
}


th, td {
    padding: 15px;
    margin: 0;
    box-sizing: content-box;
    border-collapse: collapse;
}

thead tr th {
    border-bottom: 2px solid;
    border-color: inherit;
}

thead {
    background: #dacfaf;
}

th:not(:first-child),
tbody> tr > td:not(:first-child)
{
    border-left: 2px solid;
    border-color: inherit;
    border-collapse: collapse;
}

tbody> tr > td {
    border-bottom: 2px solid;
    border-color: inherit;
}

tbody tr:hover {
    background: #f7f0e2;
}

.start_cell,
.finish_cell {
    width: 20%;
}

.title_cell {
    width: 25%
}

.disabled {
    cursor: not-allowed;
    color: #7C8179;
    text-decoration: none;
}

.finished::after {
    content: 'Закончено'
}

.current::after {
    content: 'Проводится'
}

.future::after {
    content: "Ожидает начала"
}

.sessionList {
    display: flex;
    flex-direction: column;
}

.ttu_container {
    display: flex;
    align-content: center;
}

.ttu_container > .submitButton {
    width: fit-content;
    padding: 0 5px;
    margin-left: 30px;
}

.sessionsList > .formTitle {
    margin-bottom: 0;
}

.TTU {
    height: fit-content;
}

.cross-icon_cell {
    border: none;
}
