/*Styling tags*/
hr {
    border: 1px solid #7C8179;
    width: 80%;
}

/*Styling container*/
.adminPanel {
    background: white;
    border-top: #978A4C 25px solid;
    border-left: #978A4C 25px solid;
    width: 95%;
    height: 95%;
    padding: 25px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    font-size: 30px;
    line-height: 40px;
    overflow-y: scroll;
    position: fixed;
}

.formTitle {
    font-size: 45px;
    padding: 5px;
    width: fit-content;
    margin: 10px 0 30px 0;
}

.formContent {
    padding: 5px;
}

.logout:hover {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 90%;
    height: fit-content;
    /*background: linear-gradient(*/
    /*        !*#c6bb9b*!*/
    /*        rgb(215, 204, 172) 0%,*/
    /*        rgba(233, 222, 190, 0.5) 50%,*/
    /*        rgba(255, 255, 255, 0.2) 100%*/
    /*);*/
    background: white;
    margin-top: -25px;
    margin-left: -25px;
    padding: 25px 25px 0 25px;
}

.adminPanel_content {
    padding: 10px;
    margin-top: 7%;
}

