.logout:hover {
    cursor: pointer;
}

.adminLogin {
    background: white;
    border: #1F6161 25px solid;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    font-size: 30px;
    line-height: 40px;
}

hr {
    border: 1px solid #7C8179;
    width: 80%;
}

.login {
    width: 20%;
}

.loginText {
    padding: 5px;
}

.adminPanel {
    background: white;
    border-top: #978A4C 25px solid;
    border-left: #978A4C 25px solid;
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    font-size: 30px;
    line-height: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.adminPanel_content {
    padding: 10px;
}
