.buttonContainer {
    width: 30%;
    font-size: 30px;
    line-height: 40px;
}

.submitButton {
    border-radius: 7px;
    background: #F1E4A7;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    border: none;
}

.submitButton:disabled {
    background: #dad5c8;
}

.submitButton:focus {
    outline: none;
}

.submitButton:hover {
    cursor: pointer;
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {
    .buttonContainer {
        width: 100%;
    }
}
