.survey {
    background: white;
    border: #1F6161 25px solid;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    box-sizing: border-box;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.msgResultBox {
    flex-grow: 1;
    font-size: 30px;
    line-height: 40px;
    border-radius: 7px;
    display: flex;
    margin-left: 20px;
}

.msgResultBox_text {
    padding: 5px;
    width: fit-content;
    margin: auto;
}

.err {
    background: rgba(219, 0, 65, 0.6);
}

.ok {
    background: rgba(121, 222, 138, 0.3)
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {
    .input {
        display: flex;
        flex-direction: column;
    }

    .survey {
        align-items: start;
        padding: 15px;
        border: #1F6161 15px solid;
    }

    .survey > .footer {
       display: block;
        margin: 0;
    }

    .msgResultBox{
        margin-top: 5px;
        margin-left: 0;
        padding: 5px;

    }
}
