ol {
    margin-top: 30px;
    width: fit-content;
    box-sizing: border-box;
}

li {
    width: fit-content;
}

.totalNumber {
    display: flex;
    padding: 0 5px 5px 0;
    width: fit-content;
}

.totalCounter {
    margin-left: 10px;
}

.usersList > .formTitle {
    margin-bottom: 0;
}

.usersList {
    display: flex;
    flex-direction: column;
}

.user-item__user-name {
    margin-right: 30px;
}
