.three-column {
    display: grid;
    grid-template-columns: auto auto auto;
    min-width: fit-content;
    width: 70%;
    padding: 10px;
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {
    .three-column {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        padding-bottom: 5px;
        margin-top: 10px;
    }

    .three-column > .rating {
        display: flex;
        justify-content: space-between;
        margin: 2px 0;
        box-sizing: border-box;
    }
}
