.sessionForm {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: 30px;
}

.sessionName,
.lectorName,
.startDate,
.finishDate {
    display: flex
}

.sessionName,
.lectorName {
    width: 40%
}

/*.startDate > .inputInline,*/
/*.finishDate > .inputInline {*/
/*     width: 100%;*/
/*}*/

.startDate,
.finishDate{
    width: fit-content;
}

.date_container {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
