.sessionForm {
    display: flex;
    flex-direction: column;
}

.sessionForm .footer {
    margin-top: 30px;
}

.sessionName,
.lectorName {
    display: flex;
    width: 40%
}


.startDate,
.finishDate{
    display: flex;
    width: fit-content;
}

.date_container {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
