.input {
    padding-bottom: 5px;
    width: fit-content;
    font-size: 30px;
    line-height: 40px;
}

.comment {
    width: 100%;
}

.comment > textarea {
    resize: none;
    width: 100%;
}

.name {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 950px) {
    .name {
        width: fit-content;
    }
}
.name > .inputName {
   margin-right: 15px;
}

.inputName {
    margin: 0;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: lighter;
    font-size: inherit;
    line-height: inherit;
    width: fit-content;
}

.inputInline {
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    border: none;
    border-bottom: 1px solid #7C8179;
    width: 90%;
    flex-grow: 1;
}

.inputInline:focus {
    outline: none;
}

.inputNotInline {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    border: none;
    border-top: 1px solid #7C8179;
    border-bottom: 1px solid #7C8179;
}

.inputNotInline:focus {
    outline: none;
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {
    .input {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .name {
        width: 100%;
    }

    .name > .inputName {
        width: fit-content;
        margin: 0;
    }

    .inputInline {
        width: 100%;
    }

    .comment {
        padding-bottom: 10px;
    }

}

